body {
    background-color: #0d0d0d;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#app {
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1); /* Легкое свечение в стиле Soul Red */
}

.logo {
    color: #e60000; /* Тот самый красный акцент */
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid #e60000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.option-btn:active {
    background: #e60000;
    transform: scale(0.98);
}
